*{
    margin: 0px;
    padding: 0px;
}

.imagen{
    width: 300px;
    height: 250px;
    border-radius: 5px;
    margin-top: 10px;
    
    
   
    
}


.container{

    position: relative;
    text-align: center;
    
    
}

.icono{
   position: absolute;
   top: 15px;
   right: 70px;

}

.texto{
    position: absolute;
    top: 200px;
    color: white;
    text-align: justify;
    width: 220px;
    height: 250px;
    right: 90px;
    
    
    
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

nav{
   
    color: white;
    text-decoration: none;
    display: flex;
    justify-content:baseline;
  

}

h3{
   text-align: center;
   color: #198754;
}



